$bg-colour: #fff;
$font: "Helvetica", Helvetica, Arial, sans-serif;

body {
	background-color: $bg-colour;
	font-family: $font;
	width: 100%;
	height: 100vh;
		#app {
			height: 100vh;
			.mainWrapper {
				border: 1px solid #D1D5DA;
				width: 90%;
				max-width: 960px;
				display: block;
				height: 95vh;
				border-radius: 5px;
				padding-top: 15px;
				margin: 0 auto;
				@media screen and (max-width: 768px) {
					height: 30vh;
				}
			}
			.carousel-wrapper{
				height:400px;
				position:relative;
				width:85%;
				margin:0 auto;
				@media screen and (max-width: 890px) {
					max-width:620px;
				}
				@media screen and (max-width: 768px) {
					height: 200px;
				}
			}
		}
	}

	.detailsWrapper {
		position: relative;
    top: 100%;
    padding: 20px;
	}

	.detailBlock {
		position: relative;
		text-align: center;
		top: 400px;
		width: 100%;
		h1 {
			display: inline-block;
			margin: 23px auto 16px auto;
			border-top: 2px solid;
			padding-top: 10px;
			border-bottom: 2px solid;
			padding-bottom: 10px;
			@media screen and (max-width: 768px) {
				margin-bottom: 5px;
				margin-top: 18px;
			}
		}
		h2 {
			font-weight: normal;
      color: #6A6E72;
		}
		@media screen and (max-width: 768px) {
			float: right;
			font-size: .7rem;
			top: -40px;
			width: 50%;
		}
	}

	.carousel-item {
	  position:absolute;
	  top:0;
	  bottom:0;
	  left:0;
	  right:0;
	  padding:25px;
	  opacity:0;
	  transition: all 0.5s ease-in-out;
	}

	.arrow{
	  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
	}

	.arrow-prev{
	  left:-20px;
	  position:absolute;
	  top:50%;
	  transform:translateY(-50%) rotate(135deg);
	}

	.arrow-next {
	  right:-20px;
		position:absolute;
		top:50%;
		transform:translateY(-50%) rotate(-45deg);
	}

	.light {
	  color:white;
	}

	@media (max-width: 480px) {
	  .arrow, .light .arrow {
	    background-size: 10px;
	    background-position: 10px 50%;
	  }
	}

	/*Select every element*/
	[id^="item"] {
	  display: none;
	}

	.item-1 {
	  z-index: 2;
	  opacity: 1;
	  background:url('http://i4.aroq.com/3/2017-08-08-12-39-rr_velar_18my_386_glhd_pr_location_static_010317_cropped_90.jpg');
	  background-size:cover;
		@media screen and (max-width: 929px) {
			background-size: 100% 100%;
		}
		@media screen and (max-width: 768px) {
			background-size: 45% 90%;
			background-repeat: no-repeat;
		}
	}

	.item-2 {
	  background:url('http://i4.aroq.com/3/2017-08-08-12-39-rr_velar_18my_386_glhd_pr_location_static_010317_cropped_90.jpg');
	   background-size:cover;
		 @media screen and (max-width: 929px) {
			 background-size: 100% 100%;
		 }
		 @media screen and (max-width: 768px) {
			 background-size: 45% 90%;
			 background-repeat: no-repeat;
		 }
	}

	.item-3 {
	  background:url('https://9d1e9eb5fed27c4d36fa-06f413eb72ecd5f43300a95e337d16a7.ssl.cf1.rackcdn.com/SALZL2GX9LH042033/239694d64de880f9d93847a57113a330.jpg');
	   background-size:cover;
		 @media screen and (max-width: 929px) {
			 background-size: 100% 100%;
		 }
		 @media screen and (max-width: 768px) {
			 background-size: 45% 90%;
			 background-repeat: no-repeat;
		 }
	}

	.item-4 {
		background:url('https://images.pexels.com/photos/116675/pexels-photo-116675.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
		 background-size:cover;
		 @media screen and (max-width: 929px) {
			 background-size: 100% 100%;
		 }
		 @media screen and (max-width: 768px) {
			 background-size: 45% 90%;
			 background-repeat: no-repeat;
		 }
	}

	.item-5 {
		background:url('https://images.pexels.com/photos/225841/pexels-photo-225841.jpeg?cs=srgb&dl=4x4-automobile-automotive-225841.jpg&fm=jpg');
		 background-size:cover;
		 @media screen and (max-width: 929px) {
			 background-size: 100% 100%;
		 }
		 @media screen and (max-width: 768px) {
			 background-size: 45% 90%;
			 background-repeat: no-repeat;
		 }
	}

	*:target ~ .item-1 {
	  opacity: 0;
	}

	#item-1:target ~ .item-1 {
	  opacity: 1;
	}

	#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5 {
	  z-index: 3;
	  opacity: 1;
	}
