$bg-colour: #fff;
$font: "Helvetica", Helvetica, Arial, sans-serif;

body {
	background-color: $bg-colour;
	font-family: $font;
	}
	.carousel-wrapper{
		height:400px;
	  position:relative;
	  width:800px;
	  margin:0 auto;
		@media screen and (max-width: 890px) {
			width:620px;
		}
	}

	.carousel-item{
	  position:absolute;
	  top:0;
	  bottom:0;
	  left:0;
	  right:0;
	  padding:25px;
	  opacity:0;
	  transition: all 0.5s ease-in-out;
	}

	.arrow{
	  border: solid black;
	    border-width: 0 3px 3px 0;
	    display: inline-block;
	    padding: 12px;
	}

	.arrow-prev{
	  left:-30px;
	  position:absolute;
	  top:50%;
	  transform:translateY(-50%) rotate(135deg);
	}

	.arrow-next {
	  right:-30px;
		position:absolute;
		top:50%;
		transform:translateY(-50%) rotate(-45deg);
	}

	.light {
	  color:white;
	}

	@media (max-width: 480px) {
	  .arrow, .light .arrow {
	    background-size: 10px;
	    background-position: 10px 50%;
	  }
	}

	/*Select every element*/
	[id^="item"] {
	  display: none;
	}

	.item-1 {
	  z-index: 2;
	  opacity: 1;
	  background:url('http://i4.aroq.com/3/2017-08-08-12-39-rr_velar_18my_386_glhd_pr_location_static_010317_cropped_90.jpg');
	  background-size:cover;
	}

	.item-2 {
	  background:url('https://www.saxton4x4.co.uk/images/used-vehicle-photos/AU67TYG-1.jpg');
	   background-size:cover;
	}

	.item-3 {
	  background:url('https://9d1e9eb5fed27c4d36fa-06f413eb72ecd5f43300a95e337d16a7.ssl.cf1.rackcdn.com/SALZL2GX9LH042033/239694d64de880f9d93847a57113a330.jpg');
	   background-size:cover;
	}

	.item-4 {
		background:url('https://images.pexels.com/photos/116675/pexels-photo-116675.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
		 background-size:cover;
	}

	.item-5 {
		background:url('https://images.pexels.com/photos/225841/pexels-photo-225841.jpeg?cs=srgb&dl=4x4-automobile-automotive-225841.jpg&fm=jpg');
		 background-size:cover;
	}

	*:target ~ .item-1 {
	  opacity: 0;
	}

	#item-1:target ~ .item-1 {
	  opacity: 1;
	}

	#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5 {
	  z-index: 3;
	  opacity: 1;
	}
